In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [3]:
# Desactivo warning molesto
pd.options.mode.chained_assignment = None  # default='warn'

In [4]:
eventos = pd.read_csv('/home/lautaro/Desktop/events_up_to_01062018.csv', low_memory=False)

In [5]:
labels = pd.read_csv('/home/lautaro/Desktop/labels_training_set.csv')

In [6]:
eventos.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
labels.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [8]:
eventos["timestamp"] = pd.to_datetime(eventos["timestamp"])

El csv de labels tiene las personas y un booleano indicando si compraron. Por lo tanto mi objetivo es transformar el csv de eventos en uno que tenga información para cada persona.

In [9]:
# Como estoy evaluando a los usuarios no me interesa los eventos que no tengan una persona asociada
eventos.loc[eventos['person'].isnull() == True,:]

Empty DataFrame
Columns: [timestamp, event, person, url, sku, model, condition, storage, color, skus, search_term, staticpage, campaign_source, search_engine, channel, new_vs_returning, city, region, country, device_type, screen_resolution, operating_system_version, browser_version]
Index: []

[0 rows x 23 columns]

Se me ocurre que podría extraer la columa "event" y hacer una columna por cada evento con un booleano, esto me ayudaria a contar la cantidad de veces que se registraron los eventos para cada usuario.

In [10]:
eventos['viewed_product'] = (eventos['event'] == 'viewed product')
eventos['brand_listing'] = (eventos['event'] == 'brand listing')
eventos['visited_site'] = (eventos['event'] == 'visited site')
eventos['ad_campaign_hit'] = (eventos['event'] == 'ad campaign hit')
eventos['generic_listing'] = (eventos['event'] == 'generic listing')
eventos['searched_products'] = (eventos['event'] == 'searched products')
eventos['search_engine_hit'] = (eventos['event'] == 'search engine hit')
eventos['checkout'] = (eventos['event'] == 'checkout')
eventos['staticpage'] = (eventos['event'] == 'staticpage')
eventos['conversion'] = (eventos['event'] == 'conversion')
eventos['lead'] = (eventos['event'] == 'lead')

In [11]:
eventos.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,True,False,False,False,False,False,False,False,False,False
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,True,False,False,False,False,False,False,False,False,False
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,True,False,False,False,False,False,False,False,False,False
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,True,False,False,False,False,False,False,False,False,False
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,True,False,False,False,False,False,False,False,False,False

La columna "timestamp" me parece muy importante pero como voy a tener que agrupar todos los eventos de una persona a una sola fila necesito hacer algo con ella. Se me ocurre que puedo agregar columnas para determinar si cada evento tuvo lugar por ejemplo una columa por mes. Esta creación de columnas va a estar muy ligada al hecho que los datos que tenemos van desde principio de este año hasta junio.

In [12]:
eventos["mes"] = eventos["timestamp"].dt.month
eventos["dia"] = eventos["timestamp"].dt.day
eventos["semana"] = eventos["timestamp"].dt.week

In [13]:
# Obtengo la ultima fecha disponible en el csv para tener un punto de partida
ultima_fecha = eventos["timestamp"].max()
ultimo_dia = ultima_fecha.day
ultimo_mes = ultima_fecha.month
ultima_semana = ultima_fecha.week

In [14]:
# Agrego columnas para los m meses más cercanos
for m in range (0, ultimo_mes - 1):
    eventos["mes_pasado_" + str(m)] = (eventos["mes"] == (ultimo_mes - m))

In [15]:
eventos.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,checkout,conversion,lead,mes,dia,semana,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,False,False,False,5,18,20,True,False,False,False
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,False,False,False,5,18,20,True,False,False,False
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,False,False,False,5,18,20,True,False,False,False
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,False,False,False,5,18,20,True,False,False,False
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,False,False,False,5,18,20,True,False,False,False

In [16]:
# Agrego columnas para las s semanas más cercanas
for s in range (0, 5):
    eventos["semana_pasada_" + str(s)] = (eventos["semana"] == (ultima_semana - s))

In [17]:
eventos.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,semana,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,20,True,False,False,False,False,False,True,False,False
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,20,True,False,False,False,False,False,True,False,False
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,20,True,False,False,False,False,False,True,False,False
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,20,True,False,False,False,False,False,True,False,False
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,20,True,False,False,False,False,False,True,False,False

In [18]:
eventos.columns

Index([u'timestamp', u'event', u'person', u'url', u'sku', u'model',
       u'condition', u'storage', u'color', u'skus', u'search_term',
       u'staticpage', u'campaign_source', u'search_engine', u'channel',
       u'new_vs_returning', u'city', u'region', u'country', u'device_type',
       u'screen_resolution', u'operating_system_version', u'browser_version',
       u'viewed_product', u'brand_listing', u'visited_site',
       u'ad_campaign_hit', u'generic_listing', u'searched_products',
       u'search_engine_hit', u'checkout', u'conversion', u'lead', u'mes',
       u'dia', u'semana', u'mes_pasado_0', u'mes_pasado_1', u'mes_pasado_2',
       u'mes_pasado_3', u'semana_pasada_0', u'semana_pasada_1',
       u'semana_pasada_2', u'semana_pasada_3', u'semana_pasada_4'],
      dtype='object')

In [19]:
eventos = eventos.loc[:,['person', 'viewed_product', 'brand_listing', 'visited_site',
       'ad_campaign_hit', 'generic_listing', 'searched_products',
       'search_engine_hit', 'checkout', 'conversion', 'lead',
       'mes_pasado_0', 'mes_pasado_1', 'mes_pasado_2', 'mes_pasado_3',
       'semana_pasada_0', 'semana_pasada_1', 'semana_pasada_2',
       'semana_pasada_3', 'semana_pasada_4']]

In [20]:
eventos.columns

Index([u'person', u'viewed_product', u'brand_listing', u'visited_site',
       u'ad_campaign_hit', u'generic_listing', u'searched_products',
       u'search_engine_hit', u'checkout', u'conversion', u'lead',
       u'mes_pasado_0', u'mes_pasado_1', u'mes_pasado_2', u'mes_pasado_3',
       u'semana_pasada_0', u'semana_pasada_1', u'semana_pasada_2',
       u'semana_pasada_3', u'semana_pasada_4'],
      dtype='object')

In [21]:
usuarios = eventos.groupby('person', as_index=False).sum()

In [22]:
usuarios.head()

,person,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4
0,0008ed71,0.0,0.0,2.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0
1,00091926,372.0,25.0,34.0,15.0,0.0,0.0,0.0,2.0,0.0,0.0,448.0,0.0,0.0,0.0,19.0,97.0,167.0,132.0,33.0
2,00091a7a,3.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,153.0,24.0,6.0,1.0,14.0,0.0,1.0,6.0,1.0,0.0,206.0,0.0,0.0,0.0,0.0,138.0,68.0,0.0,0.0
4,000c79fe,3.0,0.0,1.0,1.0,1.0,9.0,1.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0

In [23]:
# Incluyo solo los eventos de los usuarios que tengo labels
usuarios_con_labels = usuarios.loc[usuarios['person'].isin(labels['person'])]

In [24]:
usuarios_con_labels = usuarios_con_labels.set_index('person')

In [25]:
labels = labels.set_index('person')

In [26]:
usuarios_con_labels = usuarios_con_labels.join(labels, lsuffix='person', rsuffix='person')

In [27]:
usuarios_con_labels.head()

,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4,label
person,,,,,,,,,,,,,,,,,,,,
0008ed71,0.0,0.0,2.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0
000c79fe,3.0,0.0,1.0,1.0,1.0,9.0,1.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0
001802e4,4.0,0.0,1.0,5.0,4.0,4.0,0.0,1.0,0.0,0.0,19.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0
0019e639,189.0,165.0,19.0,29.0,28.0,11.0,13.0,15.0,2.0,0.0,290.0,69.0,0.0,82.0,0.0,70.0,181.0,0.0,108.0,0
001b0bf9,2.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0

In [28]:
X = usuarios_con_labels.iloc[:,:-1]

In [29]:
X.head()

,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4
person,,,,,,,,,,,,,,,,,,,
0008ed71,0.0,0.0,2.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0
000c79fe,3.0,0.0,1.0,1.0,1.0,9.0,1.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0
001802e4,4.0,0.0,1.0,5.0,4.0,4.0,0.0,1.0,0.0,0.0,19.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0
0019e639,189.0,165.0,19.0,29.0,28.0,11.0,13.0,15.0,2.0,0.0,290.0,69.0,0.0,82.0,0.0,70.0,181.0,0.0,108.0
001b0bf9,2.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0

In [30]:
Y = usuarios_con_labels.iloc[:,-1]

In [31]:
Y.head()

person
0008ed71    0
000c79fe    0
001802e4    0
0019e639    0
001b0bf9    0
Name: label, dtype: int64

In [32]:
# FIN DE LA PREPARACION DE LOS DATAFRAMES

In [33]:
##########################
### RANDOM FOREST ########
##########################

In [34]:
#Creo muestra de entrenamiento y de test
#predeccion train = X_train
#prediccion test  = X_test
#target     train = y_train
#target     test  = y_test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2,random_state=123)


#Import de Random Forest Classifier
from sklearn.ensemble import RandomForestRegressor
#n_estitamator = numero de arboles que vamos a construir
rf_regressor = RandomForestRegressor(n_estimators=100)
#modelo sobre los datos de entrenamiento
rf_regressor = rf_regressor.fit(X_train,y_train)

#Predecimos para los valores del grupo Test
predictions = rf_regressor.predict(X_test)

In [35]:
import numpy as np
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(y_test, predictions)
metrics.auc(fpr, tpr)

0.8269634925947146

In [39]:
#### RANDOM FOREST - PRUEBA KAGGLE DATA TEST

In [37]:
# Ahora tengo que predecir los de prueba de Kaggle
ids_usuarios_kaggle = pd.read_csv('/home/lautaro/Desktop/trocafone_kaggle_test.csv')

In [38]:
x_test_kaggle = usuarios.loc[usuarios['person'].isin(ids_usuarios_kaggle['person']), :]

In [39]:
x_test_kaggle.head()

,person,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4
1,00091926,372.0,25.0,34.0,15.0,0.0,0.0,0.0,2.0,0.0,0.0,448.0,0.0,0.0,0.0,19.0,97.0,167.0,132.0,33.0
2,00091a7a,3.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,153.0,24.0,6.0,1.0,14.0,0.0,1.0,6.0,1.0,0.0,206.0,0.0,0.0,0.0,0.0,138.0,68.0,0.0,0.0
5,000e4d9e,339.0,17.0,13.0,19.0,17.0,0.0,5.0,1.0,0.0,0.0,411.0,0.0,0.0,0.0,75.0,141.0,195.0,0.0,0.0
6,000e619d,28.0,11.0,5.0,6.0,8.0,6.0,3.0,1.0,0.0,0.0,68.0,0.0,0.0,0.0,0.0,0.0,68.0,0.0,0.0

In [40]:
x_test_kaggle = x_test_kaggle.set_index('person')

In [41]:
x_test_kaggle.head()

,viewed_product,brand_listing,visited_site,ad_campaign_hit,generic_listing,searched_products,search_engine_hit,checkout,conversion,lead,mes_pasado_0,mes_pasado_1,mes_pasado_2,mes_pasado_3,semana_pasada_0,semana_pasada_1,semana_pasada_2,semana_pasada_3,semana_pasada_4
person,,,,,,,,,,,,,,,,,,,
00091926,372.0,25.0,34.0,15.0,0.0,0.0,0.0,2.0,0.0,0.0,448.0,0.0,0.0,0.0,19.0,97.0,167.0,132.0,33.0
00091a7a,3.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
000ba417,153.0,24.0,6.0,1.0,14.0,0.0,1.0,6.0,1.0,0.0,206.0,0.0,0.0,0.0,0.0,138.0,68.0,0.0,0.0
000e4d9e,339.0,17.0,13.0,19.0,17.0,0.0,5.0,1.0,0.0,0.0,411.0,0.0,0.0,0.0,75.0,141.0,195.0,0.0,0.0
000e619d,28.0,11.0,5.0,6.0,8.0,6.0,3.0,1.0,0.0,0.0,68.0,0.0,0.0,0.0,0.0,0.0,68.0,0.0,0.0

In [42]:
# Predecimos
preds_kaggle_rf = rf_regressor.predict(x_test_kaggle)

In [43]:
preds_kaggle_rf

array([0.06      , 0.27905195, 0.        , ..., 0.13080952, 0.19      ,
       0.        ])

In [44]:
pd.DataFrame({'person': x_test_kaggle.index, 'label': preds_kaggle_rf}).to_csv('test.csv', index=False, columns=['person', 'label'])